.container-fluid {
  width: 460px;  margin: 0 auto;
  padding: 20px;
 border: 1px solid;
 -radius: 5px;
  box-shadow:  2px 5px rgba(0, 0, 0, 0.1);
  background-color: #4ba5b9;
}

.form-control {
  margin-bottom: 15px;
  border-radius: 10;
  box-shadow: 0 0 5px rgba(58, 57, 57, 0.3);
  border: 1px solid #ccc;
  color: rgb(91, 94, 14);
}

.form-control:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: #4fad4d;
  border-color: #334962;
}

.btn-primary:hover {
  background-color: #8a9eb3;
  border-color: #2d3239;
}

.bi-eye {
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.bi-eye-slash {
  font-size: 1.2rem;
  transition: transform 0.2s ease-in-out;
}

.input-group-text {
  cursor: pointer;
  color: #2d3239;
}

.input-group-text:hover {
  background-color: #b19898;
}

.text-danger {
  font-size: 0.8rem;
  margin-top: 5px;
  color: #4ba5b9;
}